@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.jost-custom-font {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}

.c-icon {
  --star-active: #fece3c;
  --star-inactive: #6c6962;
  fill: var(--star-inactive);
}

.c-icon.active {
  fill: var(--star-active);
}

.button-bg-color {
  background-color: #add8e6;
}
